<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
</head>
<body>
    <h1>Unit Converter</h1>
    <ul>
        <li><a href="/area">Area Converter</a></li>
        <li><a href="/length">Length Converter</a></li>
        <li><a href="/volume">Volume Converter</a></li>
        <li><a href="/weight">Weight Converter</a></li>
        <li><a href="/pressure">Pressure Converter</a></li>
        <li><a href="/frequency">Frequency Converter</a></li>
        <li><a href="/temperature">Temperature Converter</a></li>
        <li><a href="/energy">Energy Converter</a></li>
        <li><a href="/digital_storage">Digital Storage Converter</a></li>
        <li><a href="/number_bases">Number Bases Converter</a></li>
    </ul>
</body>
</html>