<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Temperature Converter</h1>
    <form method="POST">
        <input type="number" name="value" step="any" required>
        <select name="from_unit">
            {% for unit in temperatures %}
                <option value="{{ unit }}">{{ unit }}</option>
            {% endfor %}
        </select>
        <select name="to_unit">
            {% for unit in temperatures %}
                <option value="{{ unit }}">{{ unit }}</option>
            {% endfor %}
        </select>
        <button type="submit">Convert</button>
    </form>
    {% if result is not none %}
        <p>Result: {{result}}</p>
    {% endif %}

    <p><a href="/">Go back</a></p>
</body>
</html>